body {
    color: #566787;
    background-color: #eb0f0f;
}

.table-wrapper {
    margin-top: 5px;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

.content-wrapper{
    height: 480px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 480px;
    display:inline-block;
    overflow: auto;
    border-bottom: 2px solid black;

}

.pagination{
    height: 70px;
    width: 100%;
    justify-content: left;
    /* background-color: #082747; */
}

.pagi-left{
    width: 35%;
    border-radius: 10px;
}

.pagi-left p{
    color: crimson;
    display: inline;
}
.pagi-right{
    width: 65%;
    float: right;
    text-align: right;
}

.pagi-left, .pagi-right{
    margin-top: 20px;
    font-weight: bolder;
}

.pagi-right a{
    margin-right: 15px;
}

.navbar-brand{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
table.table{
        border: 1px solid rgb(255, 255, 255);
        position: relative;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
}

table tr th.table-header-id{
    display: inline-flex;
}

.table-header-id a{
    color: lightgoldenrodyellow;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 10px 15px;
    vertical-align: middle;
    justify-content: left;
}
table.table tr th:first-child {
    width: 70px;
}
table.table tr th:last-child {
    width: 100px;
}

.table-headers{
    position: sticky;
    top: 0;
    color: white;
    background-color:  #082747;
}
table.table tr th{
    background-color: #082747;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    top: 0;

}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    font-size: 22px;
    margin: 0 5px;
}


table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 14px;
}
.pagination {
    float: left;
    margin: 0 0 5px;
}

.excel-container{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

#file-input{
    display: none;
}

#import-button, #export-button{
    margin: auto;
}

.pdf-button{
    margin: right;
}

.excel-form{
    float: left;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.excel-form form input{
    float: left;
}

.input-group{
    margin-left: 20px;
    margin-right: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  
  










