body {
    color: #566787;
    background-color: #eb0f0f;
}

.table-wrapper {
    margin-top: 30px;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

.content-wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 420px;
    display:inline-block;
    overflow: auto;
    border-bottom: 2px solid black;

}

.pagi-left{
    float: left;
    border-radius: 10px;
}

.pagi-left p{
    color: crimson;
    display: inline;
}
.pagi-right{
    float: right;
}

.pagi-left, .pagi-right{
    margin-top: 20px;
    font-weight: bolder;
}

.pagi-right a{
    margin-right: 15px;
}

.navbar-brand{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
table.table{
        border: 1px solid rgb(255, 255, 255);
        position: relative;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
}

table tr th.table-header-id{
    display: inline-flex;
}

.table-header-id a{
    color: lightgoldenrodyellow;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 10px 15px;
    vertical-align: middle;
    justify-content: left;
}
table.table tr th:first-child {
    width: 70px;
}
table.table tr th:last-child {
    width: 100px;
}

.table-headers{
    position: sticky;
    top: 0;
    color: white;
    background-color:  #082747;
}
table.table tr th{
    background-color: #082747;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    top: 0;

}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    font-size: 22px;
    margin: 0 5px;
}


table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 14px;
}
.pagination {
    float: left;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}    
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {    
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */


.excel-container{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#file-input{
    display: none;
}

#import-button, #export-button{
    margin: auto;
}

.pdf-button{
    margin: right;
}

.excel-form{
    float: left;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.excel-form form input{
    float: left;
}










